body {
	background: rgba(0, 19, 122, 0.8);
	color: white;
	font-family: cursive;
}

h1 {
	padding-top: 40px;
	padding-bottom: 40px;
}

th {
	border: 6px solid rgba(100, 0, 7, 0.8);
}

td {
	border: 5px solid rgba(100, 0, 7, 0.8);
}

table {
	background: linear-gradient(to left,rgba(24, 34, 124, 0.8),rgba(192, 22, 22, 0.8));
	width: 70%;
	height: 50%;
	border: 5px solid red
}