* {
	padding: 0;
	margin: 0;
}

th {
	border: 2.50px solid yellow;
}

td {
	border: 2.50px solid red;
}

table {
	width: 50%;
	border: 2.50px solid rebeccapurple;
	background: linear-gradient(to top,grey,white);
}

body {
	background: linear-gradient(to bottom,grey,white,red,blue,purple,geen);
}