* {
  padding: 0;
  margin: 0;
}

.menu{
  background: url(./images/logo-minecraft.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  height: 70px;
  margin-left: 15%;
}

.maincraft {
  background: rgb(85, 255, 0);
  width: 100%;
  height: 300px;
}

.creeper {  
  background: rgb(77, 201, 14);
  width: 100%;
  height: 300px;
}

.pig {
  background: rgb(72, 175, 21);
  width: 100%;
  height: 300px;
}
